.bar {
    display:inline-block;
    height:20px;
}
.bar.blue {
    background-color:blue;
}
.bar.orange {
    background-color:orange;
}
#pointsGet {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}